{% extends "layout.html" %}

{% block page_title %}
  Open Registers
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="phase-banner">
		<p>
		<strong class="phase-tag">BETA</strong>
		<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
		</p>
	</div>
	<div class="grid-row">
		<div class="column-two-thirds">

			<h1 class="heading-large">Explore register data</h1>
			<div class="search">
				<label class="form-label" for="full-name-f1">Search data</label>
				<input class="form-control" id="full-name-f1" type="text">
			</div>
			<div class="indexers-section">
				<h2 class="heading-medium">Geographical data</h2>
				<div class="indexer">
					<h3 class="heading-small"><a href="">Territories and countries</a></h3>
					<p>All territories and countries recognised by the United Kingdom.</p>
				</div>
				<div class="indexer">
					<h3 class="heading-small"><a href="">Local authorities in  England</a></h3>
					<p>List of local authorities in England</p>
				</div>
			</div>

			<div class="indexer-section">
				<h2 class="heading-medium">Trade</h2>
				<div class="indexer">
					<h3 class="heading-small"><a href="">Notifiable animal disease</a></h3>
					<p>Animal diseases in England, Scotland and Wales that must legally be reported to the Animal and Plant Health Agency.</p>
				</div>
			</div>

			<div class="indexer-section">
				<h2 class="heading-medium">Education</h2>
				<div class="indexer">
					<h3 class="heading-small"><a href="">Schools in England</a></h3>
					<p>List of schools in England legally registered to provide full time education to pupils of compulsory school age</p>
				</div>
			</div>

			<div class="indexer-section">
				<h2 class="heading-medium">Health</h2>
				<div class="indexer">
					<h3 class="heading-small"><a href="">Notifiable animal disease</a></h3>
					<p>Animal diseases in England, Scotland and Wales that must legally be reported to the Animal and Plant Health Agency.</p>
				</div>
				<div class="indexer">
					<h3 class="heading-small"><a href="">Notifiable animal disease</a></h3>
					<p>Animal diseases in England, Scotland and Wales that must legally be reported to the Animal and Plant Health Agency.</p>
				</div>
			</div>

		</div>
	</div>
</main>

{% endblock %}


