{% extends "layout.html" %}

{% block page_title %}
  Open Registers
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="phase-banner">
		<p>
		<strong class="phase-tag">BETA</strong>
		<span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
		</p>
	</div>
	<div class="breadcrumbs">
		<ol>
			<li><a href="/index.html">School-eng Register</a></li>
			<li>Active schools</li>
		</ol>
	</div>
	<div class="grid-row">
		<div class="column-two-thirds">
			<h2 class="heading-large">Active schools<span class="heading-secondary">
  
   School-eng register view: 8 records
</span></h2>

			<p>This page is a view of the School-eng register to display only active schools. To view the total number of records, go to the <a href="/index.html">School-eng register</a>.</p>
			<p>Download as: <a href="">json</a>, <a href="">yaml</a>, <a href="">csv</a>, <a href="">tsv</a> and <a href="">ttl</a>.</p>
			<details>
				<summary><span class="summary">What are the table headers?</span></summary>
				<div class="panel panel-border-narrow">
				<dl>
					<p>The table headers are part of the <a href="https://field.alpha.openregister.org/records">Field Register</a>. This is what they stand for:</p>
					<dt>School-eng:</dt>
					<dd>School in England legally registered to provide full time education to pupils of compulsory school age.</dd>
					<dt>Name:</dt>
					<dd>Name of field</dd>
					<dt>Address:</dt>
					<dd>An address in the UK.</dd>
					<dt>School-authority-eng:</dt>
					<dd>School authority organisation.</dd>
					<dt>Minimum-age:</dt>
					<dd>Minimum age.</dd>
					<dt>Maximum-age:</dt>
					<dd>Maximum age.</dd>
					<dt>School-capacity:</dt>
					<dd>A school’s capacity of pupil places.</dd>
					<dt>Religious-characters:</dt>
					<dd>A list of religion or subgroup within a religion operating under a common name, tradition, and identity.</dd>
					<dt>Religious-ethos:</dt>
					<dd>A list of religion or subgroup within a religion operating under a common name, tradition, and identity.</dd>
					<dt>Dioceses:</dt>
					<dd>A list of districts under the pastoral care of a bishop in the Christian Church.</dd>
					<dt>Organisation:</dt>
					<dd>A legal entity.</dd>
					<dt>School-phases:</dt>
					<dd>A list of phases of a school.</dd>
					<dt>School-admissions-policy:</dt>
					<dd>The admissions policy for a school.</dd>
					<dt>School-gender:</dt>
					<dd>The gender of a school.</dd>
					<dt>School-tags:</dt>
					<dd>Set of tags which may be applied to a school.</dd>
					<dt>Headteacher:</dt>
					<dd>The name of the headteacher or principal for a school or educational establishment.</dd>
					<dt>Start-date:</dt>
					<dd>Start datetime for the applicability of a register entry.</dd>
					<dt>End-date:</dt>
					<dd>End datetime for the applicability of a register entry.</dd>
					<dt>Key:</dt>
					<dd>Value assigned to group schools by local authority.</dd>
				</dl>
				</div>
			</details>
		</div>
		<div class="column-one-third">
			<p><img class="logo" id="table-logo" src="/public/images/department_for_education.png"></p>
		</div>
	</div>
	</div>
	<div class="grid-row table-view">
		<div class="column-full" id="table-column">
			<div class="table-wrapper scroll">
				<table>
					<tbody>
						<thead>
							<tr>
								<td class="key">key</td>
								<td>school-eng</td>
								<td class="sorting">name</td>
								<td>address</td>
								<td>school-authority-eng</td>
								<td>minimum-age</td>
								<td>maximum-age</td>
								<td>school-capacity</td>
								<td>religious-characters</td>
								<td>religious-ethos</td>
								<td>dioceses</td>
								<td>organisation</td>
								<td>school-phases</td>
								<td>school-admissions-policy</td>
								<td>school-gender</td>
								<td>school-tags</td>
								<td>headteacher</td>
								<td>start-date</td>
								<td>end-date</td>
							</tr>		
						</thead>
						<tr>
							<td rowspan="8"><a href="">138485</a></td>
							<td><a href="">138485</a></td>
							<td>Knightsfield School</td>
							<td>200003856511</td>
							<td>919</td>
							<td>10</td>
							<td>18</td>
							<td>50</td>
							<td> </td>
							<td> </td>
							<td> </td>
							<td>academy-school-eng:138485</td>
							<td> </td>
							<td> </td>
							<td>M</td>
							<td> </td>
							<td>Lucille Leith</td>
							<td>2012-08-01</td>
							<td> </td>
						</tr>
						<tr>
							<td><a href="">143604</a></td>
							<td>Larwood School</td>
							<td>200000586760</td>
							<td>919</td>
							<td>5</td>
							<td>11</td>
							<td>64</td>
							<td> </td>
							<td> </td>
							<td> </td>
							<td>academy-school-eng:143604</td>
							<td> </td>
							<td>N</td>
							<td>M</td>
							<td> </td>
							<td>Mr S Trimble</td>
							<td>2016-11-01</td>
							<td> </td>
						</tr>
						<tr>
							<td><a href="">143603</a></td>
							<td>Laurance Haines School</td>
							<td>200000933530</td>
							<td>919</td>
							<td>3</td>
							<td>11</td>
							<td>420</td>
							<td> </td>
							<td> </td>
							<td> </td>
							<td>academy-school-eng:143603</td>
							<td>PRI</td>
							<td> </td>
							<td>M</td>
							<td> </td>
							<td>Mr James Roach</td>
							<td>2016-11-01</td>
							<td> </td>
						</tr>
						<tr>
							<td><a href="">138632</a></td>
							<td>Monk&#39;s Walk School</td>
							<td>200003856315</td>
							<td>919</td>
							<td>11</td>
							<td>18</td>
							<td>1341</td>
							<td> </td>
							<td> </td>
							<td> </td>
							<td>academy-school-eng:138632</td>
							<td>SEC</td>
							<td>C</td>
							<td>M</td>
							<td> </td>
							<td> Kate Smith</td>
							<td>2012-09-01</td>
							<td> </td>
						</tr>
						<tr>
							<td><a href="">138539</a></td>
							<td>Northgate Primary School</td>
							<td>100081159200</td>
							<td>919</td>
							<td>3</td>
							<td>11</td>
							<td>480</td>
							<td> </td>
							<td> </td>
							<td> </td>
							<td>academy-school-eng:138539</td>
							<td>PRI</td>
							<td> </td>
							<td>M</td>
							<td> </td>
							<td>Mrs Louisa Hotson</td>
							<td>2012-08-01</td>
							<td> </td>
						</tr>
						<tr>
							<td><a href="">143409</a></td>
							<td>Roselands Primary School</td>
							<td>148025794</td>
							<td>919</td>
							<td>5</td>
							<td>11</td>
							<td>315</td>
							<td> </td>
							<td> </td>
							<td> </td>
							<td>academy-school-eng:143409</td>
							<td>PRI</td>
							<td> </td>
							<td>M</td>
							<td> </td>
							<td>Mrs J Carson</td>
							<td>2016-09-01</td>
							<td> </td>
						</tr>
						<tr>
							<td><a href="">138582</a></td>
							<td>Samuel Ryder Academy</td>
							<td>100081150685</td>
							<td>919</td>
							<td>4</td>
							<td>19</td>
							<td>1120</td>
							<td> </td>
							<td> </td>
							<td> </td>
							<td>academy-school-eng:138582</td>
							<td>ALL</td>
							<td>C</td>
							<td>M</td>
							<td> </td>
							<td>Mr Matt Gauthier</td>
							<td>2012-09-01</td>
							<td> </td>
						</tr>
						<tr>
							<td><a href="">143410</a></td>
							<td>The Cranbourne Primary School</td>
							<td>148034021</td>
							<td>919</td>
							<td>4</td>
							<td>11</td>
							<td>497</td>
							<td> </td>
							<td> </td>
							<td> </td>
							<td>academy-school-eng:143410</td>
							<td>PRI</td>
							<td> </td>
							<td>M</td>
							<td> </td>
							<td>Mrs Rachel Semark</td>
							<td>2016-09-01</td>
							<td> </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</main>

{% endblock %}


